@page "/pools"
@model Silvestre.Cardano.WebApp.Pages.StakePools.IndexModel

@section Scripts
{
<script type="text/javascript" src="~/js/pages/stakePools.js"> </script>
}

<div class="flex flex-col space-y-4">
    <div class="flex-initial flex flex-col space-x-0 space-y-4 lg:flex-row lg:space-x-4 lg:space-y-0">
        <div class="flex-1 flex-grow flex-shrink-0 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                    <table class="w-full divide-y divide-gray-200" x-data="listStakePools(10)" x-init="fetchStakePoolsPage(1)">
                        <thead class="bg-gray-50">
                            <tr>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Pool
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Pledge
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Delegation
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Margin
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Fixed Cost
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                            <template x-if="isLoading">
                                <tr>
                                    <td>Loading...</td>
                                </tr>
                            </template>
                            <template x-if="errors.fetching">
                                <tr>
                                    <td>An error has ocurred</td>
                                </tr>
                            </template>
                            <template x-if="initialized && isLoading === false" x-for="pool in stakePools" :key="pool.poolAddress">
                                <tr>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        <template x-if="pool.initialized">
                                            <div class="flex items-center">
                                                <div class="ml-4">
                                                    <div class="text-sm font-medium text-gray-900">
                                                        <a href="#" x-text="pool.ticker" x-bind:href="pool.website">HUSKY</a>
                                                    </div>
                                                    <div class="text-sm text-gray-500" x-text="pool.name">
                                                        Husky Pool
                                                    </div>
                                                </div>
                                            </div>
                                        </template>
                                        <template x-if="pool.isLoading">
                                            <div class="flex items-center">
                                                <div class="ml-4 animate-pulse">
                                                    <div class="text-sm font-medium bg-gray-900 rounded">
                                                    </div>
                                                    <div class="text-sm bg-gray-500 rounded">
                                                    </div>
                                                </div>
                                            </div>
                                        </template>
                                        <template x-if="pool.hasMetadataError">
                                            <div class="text-sm text-red-900">Error fetching metadata</div>
                                        </template>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        <div class="text-sm text-gray-900" x-text="`₳${pool.pledge} (ADA)`">500000 ADA</div>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        <div class="text-sm text-gray-900" x-text="`₳${pool.delegation} (ADA)`">15M ADA</div>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                        <div class="text-sm text-gray-900" x-text="`${pool.marginPercentage}%`">5.5%</div>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                        <div class="text-sm text-gray-900" x-text="`₳${pool.maintenanceCost} (ADA)`">340 ADA</div>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <template x-if="pagination.initialized">
                                        <div class="bg-white py-3 flex items-center justify-between sm:px-6">
                                            <div class="flex-1 flex justify-between sm:hidden">
                                                <a href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500" x-on:click.prevent="setCurrentPage(currentPage - 1)">
                                                    Previous
                                                </a>
                                                <a href="#" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500" x-on:click.prevent="setCurrentPage(currentPage + 1)">
                                                    Next
                                                </a>
                                            </div>
                                            <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
                                                <div>
                                                    <p class="text-sm text-gray-700">
                                                        Showing
                                                        <span class="font-medium" x-text="(pagination.currentPage - 1) * pagination.itemsPerPage + 1">1</span>
                                                        to
                                                        <span class="font-medium" x-text="Math.min(pagination.currentPage * pagination.itemsPerPage, pagination.totalItems)">10</span>
                                                        of
                                                        <span class="font-medium" x-text="pagination.totalItems">100</span>
                                                        results
                                                    </p>
                                                </div>
                                                <div>
                                                    <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                                                        <template x-if="pagination.currentPage > 3">
                                                            <a href="#" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50" x-on:click.prevent="pagination.setCurrentPage(1, true); $dispatch('pagination-pagechanged', { pageNumber: 1 });">
                                                                <span class="sr-only">First</span>
                                                                <!-- Heroicon name: solid/chevron-left -->
                                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
                                                                </svg>
                                                            </a>
                                                        </template>
                                                        <template x-if="pagination.currentPage > 1">
                                                            <a href="#" class="relative inline-flex items-center px-2 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50" x-on:click.prevent="pagination.setCurrentPage(currentPage - 1, true); $dispatch('pagination-pagechanged', { pageNumber: pagination.currentPage - 1 });">
                                                                <span class="sr-only">Previous</span>
                                                                <!-- Heroicon name: solid/chevron-left -->
                                                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                                    <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                                                                </svg>
                                                            </a>
                                                        </template>
                                                        <template x-for="page in pagination.displayPages">
                                                            <a href="#" :class="{ 'font-extrabold': page === pagination.currentPage }" class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50" x-on:click.prevent="pagination.setCurrentPage(page, true); $dispatch('pagination-pagechanged', { pageNumber: pagination.pageNumber });" x-text="page">
                                                                1
                                                            </a>
                                                        </template>
                                                        <template x-if="pagination.currentPage < pagination.totalPages">
                                                            <a href="#" class="relative inline-flex items-center px-2 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50" x-on:click.prevent="pagination.setCurrentPage(pagination.currentPage + 1, true); $dispatch('pagination-pagechanged', { pageNumber: pagination.currentPage + 1 });">
                                                                <span class="sr-only">Next</span>
                                                                <!-- Heroicon name: solid/chevron-right -->
                                                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                                                                </svg>
                                                            </a>
                                                        </template>
                                                        <template x-if="pagination.currentPage < pagination.totalPages - 3">
                                                            <a href="#" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50" x-on:click.prevent="pagination.setCurrentPage(pagination.totalPages, true); $dispatch('pagination-pagechanged', { pageNumber: pagination.totalPages });">
                                                                <span class="sr-only">Last</span>
                                                                <!-- Heroicon name: solid/chevron-right -->
                                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
                                                                </svg>
                                                            </a>
                                                        </template>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </template>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="flex-initial flex-shrink">
            <div class="bg-gray-50 shadow overflow-hidden sm:rounded-md max-w-2x1">
                <div class="px-4 py-5 sm:px-6">
                    <h3 class="text-lg leading-6 font-medium text-gray-900">
                        Featured Pool
                    </h3>
                </div>
                <div class="border-top border-gray-200" x-data="featuredPool()" x-init="fetchStakePool($el.dataset.pooladdress)" data-pooladdress="@Model.FeaturedStakePool">
                    <template x-if="initialized">
                        <dl>
                            <div class="bg-gray-100 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Ticker
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2" x-show="initialized" x-text="stakePool.ticker">
                                    WILD
                                </dd>
                            </div>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Name
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2" x-show="initialized" x-text="stakePool.name">
                                    Silvestre's Pool
                                </dd>
                            </div>
                            <div class="bg-gray-100 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Pledge
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2" x-show="initialized" x-text="`₳${stakePool.pledge} (ADA)`">
                                    6000 (ADA)
                                </dd>
                            </div>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Delegation
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2" x-show="initialized" x-text="`₳${stakePool.delegation} (ADA)`">
                                    6000 (ADA)
                                </dd>
                            </div>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm inline-block align-middle font-medium text-gray-500">
                                    More Details
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2" x-show="initialized">
                                    <a x-bind:href="stakePool.website" target="_blank" class="relative inline-flex items-center px-2 py-2 rounded-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                                        Visit Website
                                    </a>
                                </dd>
                            </div>
                        </dl>
                    </template>
                </div>
            </div>
        </div>
    </div>
</div>