# Docs for the Azure Web Apps Deploy action: https://go.microsoft.com/fwlink/?linkid=2134798
# More GitHub Actions for Azure: https://go.microsoft.com/fwlink/?linkid=2135048

name: Azure App Service - silvestre-tools-cardano(Production), Build and deploy DotnetCore app

on:
  pull_request:
    branches: [ master ]
    
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: windows-latest

    steps:
    # checkout the repo
    - name: 'Checkout Github Action'
      uses: actions/checkout@master


    - name: Set up .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0.x'

    - name: Build with dotnet
      run: dotnet build Silvestre.Cardano.WebApp --configuration Release

    - name: dotnet publish
      run: dotnet publish Silvestre.Cardano.WebApp -c Release -o ${{env.DOTNET_ROOT}}/myapp

    - name: Run Azure webapp deploy action using publish profile credentials
      uses: azure/webapps-deploy@v2
      with:
        app-name: silvestre-tools-cardano
        slot-name: Production
        publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_42DBEE40474B49998232CCB004F39124 }}
        package: ${{env.DOTNET_ROOT}}/myapp

