name: DbSyncAPI - Docker Image

on:
  pull_request:
    branches: [ master ]
    
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Silvestre.Cardano.Integration.DbSyncAPI/Dockerfile
          push: true
          tags: paletas/silvestre-tools-cardano:latest
          cache-from: type=registry,ref=paletas/silvestre-cardano-dbsyncapi:latest
          cache-to: type=inline
